body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.banner {
    width: 100%;
    height: 600px;
    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 60%;
    height: 60%;
    text-align: center;
    background-color: rgba(1, 1, 19, 0.25);
    color: white;
}

.content h1 {
    font-size: 50px;
    margin-bottom: 0;
    font-weight: bolder;
}

.content p {
    font-weight: 400;
}

.button {
    text-decoration: none;
    color: white;
    background-color: rgba(240, 26, 26, 0.942);
    padding: 8px 20px 8px 20px;
    border-radius: 4px;
    border: none;
}

.SectionStyle {
    display: flex;
    flex-direction: column;
    color: black;
    margin-bottom: 10px;
    align-items: center;
}

.contentStyle {
    width: 60%;
    height: 60%;
    text-align: center;
    background-color: rgba(182, 230, 192, 0.058);
    color: black;
    margin: 10px 0px 10px 0px
}

.SectionStyle h1 {
    font-size: 40px;
}

p {
    font-weight: 100;
}

.box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boxStyle {
    width: 120px;
    height: 70px;
    text-align: center;
    padding-top: 40px;
    margin: 8px;
    border-radius: 5px;
    background-color: rgba(244, 232, 232, 0.396);
}

.selected {
    width: 120px;
    height: 70px;
    text-align: center;
    padding-top: 40px;
    margin: 8px;
    border-radius: 5px;
    border: 2px solid rgb(238, 80, 80);
    background-color: rgba(255, 192, 203, 0.276);
}

.other-amount {
    width: 100px;
    height: 29px;
    border: none;
    align-items: center;
}

hr {
    width: 492px;
    margin-left: 0px;
}

.box2 {
    display: flex;
    justify-content: center;
    margin: 0px 60px 30px 60px;
}

.boxStyle2 {
    width: 30%;
    text-align: left;
    padding: 25px;
    background-color: rgba(221, 233, 238, 0.67);
    margin: 20px;
}

.boxStyle3 {
    width: 30%;
    text-align: left;
    padding: 25px;
    background-color: rgba(241, 174, 185, 0.219);
    margin: 20px;
}

.boxStyle4 {
    width: 30%;
    text-align: left;
    padding: 25px;
    background-color: rgba(175, 225, 196, 0.177);
    margin: 20px;
}

.box2 img {
    width: 15%;
}

.partnerbox {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partnerboxStyle {
    width: 350px;
    height: 70px;
    padding-top: 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.027);
    box-shadow: 10px 10px 10px black;
    text-align: center;
}

.subscription-area {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(209, 242, 205, 0.713);
    width: 600px;
    height: 130px;
}

.subscription-area input {
    width: 250px;
    margin-right: -2px;
    height: 29px;
    background-color: whitesmoke;
    border: none;
}

.footer-section {
    background-color: black;
    color: white;
    margin-top: 150px;
}

.footer-item {
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.footer-item h1 {
    font-size: xx-large;
    font-weight: 800;
}

.orange-color {
    color: orangered;
}